@import "bootstrap";

.ic-4x{font-size: 3.2em;}

#mytitle {
	color: black;
	font-family: 'Helvetica';
	font-weight: 1000;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 200%;
}

#showtitle {
	color: black;
	font-family: 'Helvetica';
	font-weight: 1000;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 250%;
}

#showtitle:hover {
	color: black;
	text-decoration: none;
}

#mytitle:hover {
	color: black;
	text-decoration: none;
}

#header {
	font-size: 250%;
}