<!DOCTYPE html>
<html>
  <head>
    <title>MeFunny</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="blazy.js"></script>
  </head>

  <body>
    <%= yield %>
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
  </body>
</html>
